<div>
    <h1>Hello!</h1>
    <div [hidden]="!this.errorMessage">
        {{errorMessage}}
    </div>
    <form (ngSubmit)="submitForm()">
        <div>
            <label for="firstName">First Name:</label>
            <input type="text" id="firstName" name="firstName"
                   required
                   [(ngModel)]="firstName"/>
        </div>
        <div>
            <label for="lastName">Last Name:</label>
            <input type="text" id="lastName" name="lastName"
                   required
                   [(ngModel)]="lastName"/>
        </div>
        <div>
            <label for="dog">Do you like dog?</label>
            <input type="checkbox" id="dog" name="dog"
                   required
                   [(ngModel)]="dog"/>
        </div>


        <button color="primary" mat-raised-button type="submit">Submit</button>
    </form>
</div>

<div *ngIf="success">
    <h1>Thanks for your submission!</h1>
</div>
